@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap; }

@font-face {
  font-family: 'Helvetica-Bold';
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap; }

* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica", sans-serif; }

body {
  overflow-x: hidden; }

.container {
  padding: 0; }

button:focus, button:active {
  outline: none !important; }

input:focus {
  outline: none !important; }

textarea:focus {
  outline: none !important; }

a:focus {
  outline: none !important; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

a, :before, :after, button, input {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.row {
  margin-left: 0;
  margin-right: 0; }

.col-xl-3 {
  padding-right: 0;
  padding-left: 0; }

.btn-group {
  width: 100%;
  padding-bottom: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .btn-group:focus, .btn-group:active {
    outline: none !important; }

.btn-group-last {
  position: relative;
  margin-top: 3px; }
  .btn-group-last::after {
    position: absolute;
    content: "";
    width: 248px;
    height: 1px;
    background: #E6E4E7;
    left: 15px;
    top: 0;
    margin: auto; }

.btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #1A1A1A;
  padding-left: 13px;
  background: #FFFFFF;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .btn-menu-last {
    margin-top: 9px;
    margin-left: 2px; }
  .btn-menu:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #FDEAF1;
    color: #1A1A1A; }

.nav__btn {
  width: 149px;
  height: 48px;
  border: 1px solid #1A1A1A;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #1A1A1A;
  margin-right: 23px; }
  .nav__btn:hover {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #EE2A74;
    color: #FFFFFF; }

.dropdown-item:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #FDEAF1;
  color: #1A1A1A; }

.nav__btn.active {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #EE2A74;
  color: #FFFFFF; }

.arrowMenu {
  width: 46px;
  height: 12px;
  right: 12px;
  position: absolute; }

.arrowPicture {
  width: 28px;
  height: 28px;
  margin-right: 8px; }

.arrowNuv {
  margin-left: 9px; }

.buttons {
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.button {
  border: none;
  background: #ffffff;
  height: 24px;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #1A1A1A; }
  .button__cart {
    font-weight: bold;
    padding-left: 57px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative; }

.button-text {
  padding-left: 10px; }

.main {
  height: 1116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  .main__info {
    width: 999px;
    height: 1116px; }
  .main__menu {
    width: 280px; }

.menu__group {
  -webkit-box-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.06);
  height: 717px; }

.menu__logo {
  padding-top: 16px;
  padding-bottom: 26px;
  padding-left: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  letter-spacing: -2.3px;
  line-height: 40px;
  font-family: "Helvetica-Bold", sans-serif;
  text-shadow: 0px 5px 3px #969696;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.06); }
  .menu__logo:hover {
    color: #000000; }
  .menu__logo img {
    margin-right: 7px; }

.dropdown-menu {
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
  width: 280px;
  background: #FFFFFF;
  border-radius: 0px;
  border: none;
  left: -2px !important;
  top: -82px !important; }
  .dropdown-menu-text {
    font-family: "Helvetica-Bold", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #1A1A1A;
    padding-left: 16px;
    padding-top: 31px; }
  .dropdown-menu-second {
    width: 200px;
    left: -16px !important;
    top: 55px !important;
    background: #F2F1F3; }

.info__product {
  margin-top: 41px; }

.nav {
  padding-top: 15px;
  padding-left: 16px; }
  .nav-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #1A1A1A;
    padding: 10px 0px;
    letter-spacing: 0.2px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .nav-link:hover {
      color: #1A1A1A; }
    .nav-link__navShop {
      background: url(../img/shop.svg) no-repeat;
      padding: 0;
      margin-top: 12px;
      margin-left: 20px; }
      .nav-link__navShop:hover {
        background: url(../img/shop2.svg) no-repeat;
        color: #EE2A74; }

.navbar-expand-lg .navbar-nav .dropdown-menu {
  padding: 0; }

.navbar {
  background: #F2F1F3;
  height: 70px; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav-link__navShop.active {
  background: url(../img/shop2.svg) no-repeat;
  color: #EE2A74; }

.phone {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #1A1A1A;
  margin-right: 24px; }
  .phone:hover {
    color: #EE2A74; }

.phone.active {
  color: #EE2A74; }

.navbar__search {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.form-inline {
  padding-left: 40px;
  padding-top: 2px; }

.search__form {
  position: relative; }

.search__input {
  border: 1px solid #E6E4E7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
  width: 670px;
  height: 40px;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #1A1A1A;
  padding: 8px 16px; }
  .search__input:hover {
    border: 1px solid #EE2A74; }

.search__input.active {
  border: 1px solid #EE2A74; }

input.search__input::-webkit-input-placeholder {
  color: #A2A0A3; }

input.search__input::-moz-placeholder {
  color: #A2A0A3; }

input.search__input:-ms-input-placeholder {
  color: #A2A0A3; }

input.search__input::-ms-input-placeholder {
  color: #A2A0A3; }

input.search__input::placeholder {
  color: #A2A0A3; }

.sub {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  border: none;
  border-radius: 8px; }

.cart__quantity {
  position: absolute;
  right: 60px;
  top: -6px;
  width: 18px;
  height: 18px;
  background: #EE2A74;
  border-radius: 50%;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 10px;
  border: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.product {
  position: relative; }
  .product__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #1A1A1A;
    margin-left: -1px;
    letter-spacing: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: -10; }
    .product__title img {
      margin-right: 9px; }
    .product__title-second {
      display: none; }
  .product::before {
    position: absolute;
    left: 0;
    bottom: 23px;
    content: '';
    width: 100%;
    height: 2px;
    background: #F2F1F3;
    z-index: 100; }

.swiper-container {
  width: 921px;
  height: 500px;
  margin-left: 41px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1px; }

.card {
  margin-top: -70px;
  width: 222px;
  height: 329px;
  background: #FFFFFF;
  border: 1px solid #E6E4E7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden; }
  .card:hover {
    z-index: 11;
    height: 463px; }
  .card__title {
    width: 206px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #1A1A1A;
    text-align: left;
    margin-top: 14px;
    margin-left: 7px; }
  .card__colors {
    margin-top: -31px;
    margin-left: 11px;
    opacity: 0; }

.card__colors.active {
  opacity: 1; }

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 25px;
  margin-left: 6px;
  position: relative; }
  .price__oneLine {
    margin-top: 50px; }
  .price__btn {
    width: 85px;
    height: 40px;
    border: 1px solid #EE2A74;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    background: #ffffff;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #EE2A74;
    margin-left: 22px;
    opacity: 1; }
    .price__btn-quantity {
      position: absolute;
      opacity: 0;
      right: 6px; }
    .price__btn:hover {
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #EE2A74;
      color: #FFFFFF; }
    .price__btn-mobile {
      display: none; }

.furniture {
  margin-top: -1px;
  border-radius: 7px 7px 0px 0px;
  min-height: 168px; }

.color {
  margin-right: 2px; }

.price__money {
  width: 100px; }

.price-old {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: #A2A0A3; }

.price-new {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #1A1A1A; }

.have {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 6px;
  margin-top: 15px; }
  .have__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #1A1A1A;
    padding-left: 5px; }

.data {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-top: 19px;
  margin-left: 6px; }
  .data__group {
    margin-bottom: 9px; }
  .data__heading {
    color: #A2A0A3; }
  .data__info {
    color: #1A1A1A;
    opacity: 0.9; }

.best__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: absolute;
  top: -3px;
  right: -3px;
  width: 114px;
  height: 32px;
  background: #F2C94C;
  border: 2px solid #F2C94C;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px 8px 8px 0px; }
  .best__price-pink {
    background: #EE2A74;
    border: 2px solid #EE2A74; }
  .best__price-title {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #1A1A1A;
    margin-left: 5px;
    letter-spacing: 0.3px; }
    .best__price-title-pink {
      color: #ffffff; }
  .best__price img {
    margin-left: 7px; }
  .best__price-mobile {
    display: none; }

.present {
  width: 146px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: absolute;
  top: -3px;
  right: -3px;
  background: #27AE60;
  border-radius: 8px 8px 8px 0px; }
  .present__title {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 5px;
    letter-spacing: 0.3px; }
  .present img {
    margin-left: 7px; }

.swiper-button-next {
  background: url(../img/arrowboldnext2.png) no-repeat;
  top: 45px;
  right: 0px;
  width: 32px;
  z-index: 10;
  outline: none; }
  .swiper-button-next::after {
    content: ''; }
  .swiper-button-next:hover {
    background: url(../img/nexthover.png) no-repeat; }

.swiper-button-prev {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background: url(../img/arrowboldnext2.png) no-repeat;
  top: 33px;
  width: 32px;
  left: auto;
  right: 48px;
  z-index: 10;
  outline: none; }
  .swiper-button-prev::after {
    content: ''; }
  .swiper-button-prev:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: url(../img/nexthover.png) no-repeat; }

.swiper-button-next.swiper-button-disabled {
  opacity: 1;
  background: url(../img/prevhover.png) no-repeat;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 33px;
  right: 0px;
  width: 32px;
  outline: none; }

.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  background: url(../img/prevhover.png) no-repeat;
  top: 45px;
  width: 32px;
  left: auto;
  outline: none;
  right: 48px; }

.footer__map {
  margin-top: -4px; }
  .footer__map-shop {
    background: url(../img/shop.svg) no-repeat;
    padding-left: 23px;
    padding-bottom: 10px;
    margin-left: 39px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #1A1A1A; }
    .footer__map-shop:hover {
      background: url(../img/shop2.svg) no-repeat;
      color: #EE2A74; }

.footer__group {
  padding: 33px 40px;
  margin-right: -18px; }
  .footer__group-title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #1A1A1A; }
  .footer__group-list {
    margin-top: 5px; }
  .footer__group-second {
    margin-top: -54px; }
  .footer__group-social {
    margin-top: 11px; }
    .footer__group-social img {
      padding-right: 3px; }
  .footer__group-payment {
    width: 260px;
    margin-top: 11px; }
    .footer__group-payment img {
      padding-right: 12px; }
  .footer__group-desktop {
    display: none; }

.footer__policy {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  letter-spacing: 0.1px;
  margin-left: 40px;
  margin-top: 6px; }
  .footer__policy a {
    color: #1A1A1A; }

.footer__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-top: 16px;
  margin-left: 40px;
  margin-bottom: 16px; }
  .footer__data a {
    color: #1A1A1A; }
  .footer__data-design {
    margin-right: 40px; }

.item-list {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  list-style: none;
  padding-top: 4px;
  padding-bottom: 4px; }
  .item-list a {
    color: #A2A0A3; }
  .item-list-star {
    width: 180px;
    padding-top: 9px;
    padding-bottom: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: 12px; }

.star {
  padding-right: 17px;
  background: url(../img/star.svg) no-repeat;
  cursor: pointer;
  width: 16px;
  height: 16px; }

.star.active {
  background: url(../img/starYellow.svg) no-repeat; }

.desktop__arrow {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.desktop__arrow2 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.desktop__arrow3 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.desktop__arrow4 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.desktop__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #F2F1F3;
  padding: 0.5rem 0; }

.desktop__list {
  margin-left: 13px; }

.desktop__phone {
  display: none; }

.desktop__arrow.active {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.desktop__arrow2.active {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.desktop__arrow3.active {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.desktop__arrow4.active {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

@media (min-width: 1280px) {
  .container {
    max-width: 1280px; } }

@media screen and (min-width: 1200px) and (max-width: 1279px) {
  .container {
    max-width: 1280px; }
  .nav__btn {
    margin-right: -3px; }
  .button__cart {
    font-weight: bold;
    padding-left: 25px; }
  .btn-group-last::after {
    width: 90%; }
  .swiper-container {
    margin-left: 30px; }
  .swiper-button-next {
    right: 10px; }
  .swiper-button-next.swiper-button-disabled {
    right: 10px; }
  .swiper-button-prev {
    right: 50px; }
  .swiper-button-prev.swiper-button-disabled {
    right: 50px; } }

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .container {
    max-width: 1280px; }
  .nav__btn {
    margin-right: -3px; }
  .search__input {
    width: 450px; }
  .main__menu {
    max-width: 25%; }
  .main__info {
    max-width: 75%; }
  .btn-group-last::after {
    width: 90%; }
  .swiper-container {
    margin-left: 30px; }
  .swiper-button-next {
    right: 10px; }
  .swiper-button-next.swiper-button-disabled {
    right: 10px; }
  .swiper-button-prev {
    right: 50px; }
  .swiper-button-prev.swiper-button-disabled {
    right: 50px; }
  .footer__group {
    padding: 33px 30px; } }

@media screen and (min-width: 992px) and (max-width: 1023px) {
  .container {
    max-width: 1280px; }
  .nav__btn {
    margin-right: -7px; }
  .main__menu {
    max-width: 25%; }
  .main__info {
    max-width: 75%; }
  .button__cart {
    padding-left: 30px; }
  .btn-group-last::after {
    width: 90%; }
  .search__input {
    width: 470px; }
  .swiper-container {
    margin-left: 30px; }
  .swiper-button-next {
    right: 10px; }
  .swiper-button-next.swiper-button-disabled {
    right: 10px; }
  .swiper-button-prev {
    right: 50px; }
  .swiper-button-prev.swiper-button-disabled {
    right: 50px; }
  .footer__group {
    padding: 33px 30px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 1280px; }
  .main__menu {
    width: 30%; }
  .main__info {
    max-width: 70%; }
  .nav-item__maps {
    display: none; }
  .phone {
    display: none; }
  .button__cart {
    padding-left: 30px; }
  .btn-group-last::after {
    width: 90%; }
  .arrowMenu {
    right: -10px; }
  .dropdown-menu {
    width: 90%; }
    .dropdown-menu-text {
      font-size: 22px; }
  .search__input {
    width: 230px; }
  .product__title {
    margin-top: -2px; }
  .swiper-container {
    margin-left: 30px; }
  .swiper-button-next {
    right: 10px; }
  .swiper-button-next.swiper-button-disabled {
    right: 10px; }
  .swiper-button-prev {
    right: 50px; }
  .swiper-button-prev.swiper-button-disabled {
    right: 50px; }
  .footer__group {
    padding: 33px 30px; }
  .footer__data-design {
    margin-right: 5px; }
  .footer__policy, .footer__data {
    margin-left: 33px; } }

@media screen and (min-width: 412px) and (max-width: 767px) {
  .container {
    max-width: 1280px; }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto; }
    .main__menu {
      width: 100%; }
    .main__info {
      width: 100%;
      height: 0px; }
  .menu__group {
    height: 550px;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .menu__logo {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #F2F1F3; }
  .nav-item__maps {
    display: none; }
  .phone {
    display: none; }
  .buttons {
    display: none; }
  .btn-group-last::after {
    width: 90%; }
  .arrowMenu {
    right: 5px; }
  .dropdown-menu {
    width: 90%; }
    .dropdown-menu-text {
      font-size: 22px; }
  .search__input {
    width: 230px; }
  .product__title {
    margin-top: 43px;
    z-index: 10;
    margin-left: 10px;
    font-size: 20px; }
    .product__title img {
      margin-right: 7px; }
    .product__title-first {
      display: none; }
    .product__title-second {
      display: block; }
  .product::before {
    bottom: 30px; }
  .swiper-container {
    margin-left: 5px; }
  .swiper-slide {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -3px;
    margin-right: 10px; }
  .swiper-button-next, .swiper-button-prev, .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    display: none; }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: -20px; }
    .footer__group {
      display: none;
      padding: 33px 16px; }
      .footer__group-desktop {
        display: block;
        width: 100%;
        margin-top: 9px; }
      .footer__group-list, .footer__group-social, .footer__group-title {
        margin-left: 0px; }
      .footer__group-second {
        display: block; }
    .footer__data-design {
      margin-right: 5px;
      margin-top: 32px; }
    .footer__policy {
      margin-left: 17px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 10px; }
    .footer__data {
      margin-left: 17px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .footer__data span {
        width: 286px; }
    .footer__row {
      width: 100%; }
    .footer__map {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: end;
      margin-top: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .footer__map-shop {
        margin-left: 17px; }
  .social {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-top: -32px; }
  .pay {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-top: 0; }
  .desktop__phone {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 22px; }
  .desktop__btn {
    font-size: 14px;
    margin-left: -2px; }
  .card {
    width: 134px;
    height: 285px; }
    .card__title {
      font-size: 12px;
      width: 112px;
      line-height: 16px;
      margin-top: 15px;
      min-height: 64px; }
    .card:hover {
      z-index: 20;
      border: 1px solid #EE2A74; }
  .price {
    margin-top: 9px; }
  .furniture {
    min-height: 120px; }
  .best__price {
    display: none; }
    .best__price-title {
      color: #ffffff;
      font-weight: bold;
      font-size: 10px;
      line-height: 10px;
      margin-top: 6px; }
    .best__price-mobile {
      display: block;
      width: 40px;
      height: 28px;
      background: #27AE60;
      border-radius: 8px 8px 8px 0px;
      border: 2px solid #27AE60; }
  .present {
    display: none; }
  .price-new {
    font-size: 16px; }
  .price__btn {
    display: none; }
    .price__btn-mobile {
      display: block;
      background: url(../img/cartMobile.svg) no-repeat center;
      border: 2px solid #EE2A74;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 8px;
      width: 40px;
      height: 40px;
      margin-top: 4px;
      margin-right: 6px;
      padding: 14px; }
      .price__btn-mobile:hover {
        background: url(../img/cartMobileActive.svg) no-repeat center;
        background-color: #EE2A74; }
  .price__money {
    margin-top: 5px;
    margin-left: 5px; }
  .have {
    margin-left: 7px; } }

@media screen and (min-width: 320px) and (max-width: 411px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto; }
    .main__menu {
      width: 100%; }
    .main__info {
      width: 100%;
      height: 0px; }
  .menu__group {
    height: 550px;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .menu__logo {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #F2F1F3; }
  .nav-item__maps {
    display: none; }
  .phone {
    display: none; }
  .buttons {
    display: none; }
  .btn-group-last::after {
    width: 90%; }
  .arrowMenu {
    right: 5px; }
  .dropdown-menu {
    width: 90%; }
    .dropdown-menu-text {
      font-size: 22px; }
  .search__input {
    width: 230px; }
  .product__title {
    margin-top: 43px;
    margin-left: 10px;
    font-size: 20px; }
    .product__title img {
      margin-right: 7px; }
    .product__title-first {
      display: none; }
    .product__title-second {
      display: block; }
  .product::before {
    bottom: 15px; }
  .swiper-container {
    margin-left: 5px; }
  .swiper-slide {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -3px;
    margin-right: -12px; }
  .swiper-button-next, .swiper-button-prev, .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    display: none; }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: -10px; }
    .footer__group {
      display: none;
      padding: 33px 16px; }
      .footer__group-desktop {
        display: block;
        width: 100%;
        margin-top: 9px; }
      .footer__group-list, .footer__group-social, .footer__group-title {
        margin-left: 0px; }
      .footer__group-second {
        display: block; }
    .footer__data-design {
      margin-right: 5px;
      margin-top: 32px; }
    .footer__policy {
      margin-left: 17px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 10px; }
    .footer__data {
      margin-left: 17px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .footer__data span {
        width: 286px; }
    .footer__row {
      width: 100%; }
    .footer__map {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: end;
      margin-top: 10px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .footer__map-shop {
        margin-left: 17px; }
  .social {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-top: -32px; }
  .pay {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-top: 0; }
  .desktop__phone {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 22px; }
  .desktop__btn {
    font-size: 14px;
    margin-left: -2px; }
  .card {
    width: 134px;
    max-height: 285px; }
    .card__title {
      font-size: 12px;
      width: 112px;
      line-height: 16px;
      margin-top: 15px;
      min-height: 64px; }
    .card:hover {
      border: 1px solid #EE2A74; }
  .price {
    margin-top: 9px; }
  .furniture {
    min-height: 120px; }
  .best__price {
    display: none; }
    .best__price-title {
      color: #ffffff;
      font-weight: bold;
      font-size: 10px;
      line-height: 10px;
      margin-top: 6px; }
    .best__price-mobile {
      display: block;
      width: 40px;
      height: 28px;
      background: #27AE60;
      border-radius: 8px 8px 8px 0px;
      border: 2px solid #27AE60; }
  .present {
    display: none; }
  .price-new {
    font-size: 16px; }
  .price__btn {
    display: none; }
    .price__btn-mobile {
      display: block;
      background: url(../img/cartMobile.svg) no-repeat center;
      border: 2px solid #EE2A74;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 8px;
      width: 40px;
      height: 40px;
      margin-top: 4px;
      margin-right: 6px;
      padding: 14px; }
      .price__btn-mobile:hover {
        background: url(../img/cartMobileActive.svg) no-repeat center;
        background-color: #EE2A74; }
  .price__money {
    margin-top: 5px;
    margin-left: 5px; }
  .have {
    margin-left: 7px; } }
