.footer
  &__map
    margin-top: -4px
    &-shop
      background: url(../img/shop.svg) no-repeat
      padding-left: 23px
      padding-bottom: 10px
      margin-left: 39px
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 24px
      color: #1A1A1A
      &:hover
        background: url(../img/shop2.svg) no-repeat
        color: #EE2A74
  &__group
    padding: 33px 40px
    margin-right: -18px
    &-title
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 24px
      color: #1A1A1A
    &-list
      margin-top: 5px
    &-second
      margin-top: -54px
    &-social
      margin-top: 11px
      img
        padding-right: 3px
    &-payment
      width: 260px
      margin-top: 11px
      img
        padding-right: 12px
    &-desktop
      display: none
  &__policy
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 16px
    cursor: pointer
    letter-spacing: 0.1px
    margin-left: 40px
    margin-top: 6px
    a
      color: #1A1A1A
  &__data
    display: flex
    justify-content: space-between
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 16px
    margin-top: 16px
    margin-left: 40px
    margin-bottom: 16px
    a
      color: #1A1A1A
    &-design
      margin-right: 40px
.item-list
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 24px
  list-style: none
  padding-top: 4px
  padding-bottom: 4px
  a
    color: #A2A0A3
  &-star
    width: 180px
    padding-top: 9px
    padding-bottom: 4px
    display: flex
    align-items: baseline
    justify-content: space-between
    align-items: center
.stars
  display: flex
  flex-direction: row
  margin-left: 12px
.star
  padding-right: 17px
  background: url(../img/star.svg) no-repeat
  cursor: pointer
  width: 16px
  height: 16px
.star.active
  background: url(../img/starYellow.svg) no-repeat
.desktop
  &__arrow
    transform: rotate(270deg)
  &__arrow2
    transform: rotate(90deg)
  &__arrow3
    transform: rotate(90deg)
  &__arrow4
    transform: rotate(90deg)
  &__arrow.active
    transform: rotate(90deg)
  &__arrow2.active
    transform: rotate(270deg)
  &__arrow3.active
    transform: rotate(270deg)
  &__arrow4.active
    transform: rotate(270deg)
  &__btn
    display: flex
    align-items: center 
    box-shadow: none
    justify-content: space-between
    width: 100%
    border-bottom: 2px solid #F2F1F3
    padding: 0.5rem 0
  &__list
    margin-left: 13px
  &__phone
    display: none
